<style>
h1 {color: yellow;}
    h1 {font-size:250%;}
    h1 {font-family:Verdana;}
    h1 {text-align: center;}
    p  {color : white;}
    p  {font-size:170%;}
    p  {font-family:Helvetica;}
    h3 {color: yellow}
    h3 {font-size:200%;}
    h3 {font-family:Verdana;}
    img {border-radius:12px;}
    img {box-shadow: 2px 2px 20px white;}
    div {width: 300px;
        margin: auto;}    
</style> 